@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
    margin: 0;
    font-family: "Shantell Sans";
    color: #333;
    background-color: rgb(237, 239, 246);
}

